<div class="addresses sec2">
	<div class="addresses__container">
		<h2>Адреси</h2>

		<ul class="addresses__list">
			<li class="addresses__item">
				<div class="addresses__card">
					<img src="./img/room.jpg" alt="" />

					<div class="addresses__tegs">
						<p class="addresses__teg green">NEW</p>
						<p class="addresses__teg red">Акція</p>
					</div>

					<div data-spollers data-one-spoller class="spoller">
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Адреса</button>
							<div class="spoller__text">Spoller text №1</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title _active">Ціна</button>
							<div class="spoller__text">
								<p><span class="bold">доба:</span> 240 грн.</p>
								<p>
									<span class="bold">тиждень:</span> <span class="text-decoretion">770 грн</span> <span class="green">від 620 грн.</span>.
								</p>
								<p>
									<span class="bold">4 тижня:</span> <span class="text-decoretion">2250 грн</span> <span class="green">від 1900 грн.</span>.
								</p>
							</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Опис</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Що поруч?</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Транспорт</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
					</div>
				</div>

				<div class="addresses__btns">
					<a href="/">Показати на мапі</a>
					<a class="addresses__booking-btn" href="/">
						<span>Забронювати</span>
					</a>
				</div>
			</li>
			<li class="addresses__item">
				<div class="addresses__card">
					<img src="./img/room.jpg" alt="" />

					<div class="addresses__tegs">
						<p class="addresses__teg green">NEW</p>
						<p class="addresses__teg red">Акція</p>
					</div>

					<div data-spollers data-one-spoller class="spoller">
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Адреса</button>
							<div class="spoller__text">Spoller text №1</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title _active">Ціна</button>
							<div class="spoller__text">
								<p><span class="bold">доба:</span> 240 грн.</p>
								<p>
									<span class="bold">тиждень:</span> <span class="text-decoretion">770 грн</span> <span class="green">від 620 грн.</span>.
								</p>
								<p>
									<span class="bold">4 тижня:</span> <span class="text-decoretion">2250 грн</span> <span class="green">від 1900 грн.</span>.
								</p>
							</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Опис</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Що поруч?</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Транспорт</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
					</div>
				</div>

				<div class="addresses__btns">
					<a href="/">Показати на мапі</a>
					<a class="addresses__booking-btn" href="/">
						<span>Забронювати</span>
					</a>
				</div>
			</li>
			<li class="addresses__item">
				<div class="addresses__card">
					<img src="./img/room.jpg" alt="" />

					<div class="addresses__tegs">
						<p class="addresses__teg green">NEW</p>
						<p class="addresses__teg red">Акція</p>
					</div>

					<div data-spollers data-one-spoller class="spoller">
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Адреса</button>
							<div class="spoller__text">Spoller text №1</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title _active">Ціна</button>
							<div class="spoller__text">
								<p><span class="bold">доба:</span> 240 грн.</p>
								<p>
									<span class="bold">тиждень:</span> <span class="text-decoretion">770 грн</span> <span class="green">від 620 грн.</span>.
								</p>
								<p>
									<span class="bold">4 тижня:</span> <span class="text-decoretion">2250 грн</span> <span class="green">від 1900 грн.</span>.
								</p>
							</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Опис</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Що поруч?</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Транспорт</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
					</div>
				</div>

				<div class="addresses__btns">
					<a href="/">Показати на мапі</a>
					<a class="addresses__booking-btn" href="/">
						<span>Забронювати</span>
					</a>
				</div>
			</li>
			<li class="addresses__item">
				<div class="addresses__card">
					<img src="./img/room.jpg" alt="" />

					<div class="addresses__tegs">
						<p class="addresses__teg green">NEW</p>
						<p class="addresses__teg red">Акція</p>
					</div>

					<div data-spollers data-one-spoller class="spoller">
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Адреса</button>
							<div class="spoller__text">Spoller text №1</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title _active">Ціна</button>
							<div class="spoller__text">
								<p><span class="bold">доба:</span> 240 грн.</p>
								<p>
									<span class="bold">тиждень:</span> <span class="text-decoretion">770 грн</span> <span class="green">від 620 грн.</span>.
								</p>
								<p>
									<span class="bold">4 тижня:</span> <span class="text-decoretion">2250 грн</span> <span class="green">від 1900 грн.</span>.
								</p>
							</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Опис</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Що поруч?</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Транспорт</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
					</div>
				</div>

				<div class="addresses__btns">
					<a href="/">Показати на мапі</a>
					<a class="addresses__booking-btn" href="/">
						<span>Забронювати</span>
					</a>
				</div>
			</li>
			<li class="addresses__item">
				<div class="addresses__card">
					<img src="./img/room.jpg" alt="" />

					<div class="addresses__tegs">
						<p class="addresses__teg green">NEW</p>
						<p class="addresses__teg red">Акція</p>
					</div>

					<div data-spollers data-one-spoller class="spoller">
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Адреса</button>
							<div class="spoller__text">Spoller text №1</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title _active">Ціна</button>
							<div class="spoller__text">
								<p><span class="bold">доба:</span> 240 грн.</p>
								<p>
									<span class="bold">тиждень:</span> <span class="text-decoretion">770 грн</span> <span class="green">від 620 грн.</span>.
								</p>
								<p>
									<span class="bold">4 тижня:</span> <span class="text-decoretion">2250 грн</span> <span class="green">від 1900 грн.</span>.
								</p>
							</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Опис</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Що поруч?</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
						<div class="spoller__item">
							<button tabindex="-1" type="button" data-spoller class="spoller__title">Транспорт</button>
							<div class="spoller__text">Spoller text №3</div>
						</div>
					</div>
				</div>

				<div class="addresses__btns">
					<a href="/">Показати на мапі</a>
					<a class="addresses__booking-btn" href="/">
						<span>Забронювати</span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
