<footer class="footer">
	<div class="footer__container menu">
		<div class="footer__row">
			<ul class="menu__list">
				<li><a data-goto=".sec1" href="#" class="menu__link">Переваги</a></li>
				<li><a data-goto=".sec2" href="#" class="menu__link">Адреси хостелів</a></li>
				<li><a data-goto=".sec3" href="#" class="menu__link">Відгуки</a></li>
				<li class="select-link">
					<div class="select-link__body">
						<a data-goto=".sec3" href="#" class="menu__link">UA</a>
						<a data-goto=".sec3" href="#" class="menu__link">EU</a>
					</div>
					<img src="./img/arrowWhite.svg" alt="" />
				</li>
			</ul>
			<div class="menu-tel">
				<img src="./img/tel.svg" alt="" />
				<div class="menu-tel__row">
					<div class="menu-tel__column">
						<p>+38 (063) 890 30 30</p>
						<p>+38 (096) 890 30 30</p>
					</div>
					<div class="menu-tel__column">
						<p>+38 (066) 890 30 30</p>
						<a href="/">Передзвонити</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
