<section class="form">
	<div class="form__container">
		<div class="form__content">
			<h3>Забронювати хостел</h3>
			<p>
				Приїжджаєте до Києва і шукаєте де зупинитися? Сумніваєтеся бронювати чи готель, знімати житло? Шукаєте хороший і недорогий варіант в
				Києві? Хочете подорожувати всій родині або з друзями, але продовжувати відчувати себе як вдома? Хостел Мегаполіс радий вітати Вас!
			</p>
		</div>

		<form action="">
			<input type="text" placeholder="Ім’я" />
			<input type="tel" placeholder="+38(0__)___-__-__" />

			<div class="form__select">
				<button>Виберіть хостел</button>
				<div class="form__select-body">
					<span>hostel 1</span>
					<span>hostel 2</span>
					<span>hostel 3</span>
				</div>
			</div>

			<textarea placeholder="Повідомлення" name="" id="" cols="30" rows="10"></textarea>

			<div class="form__row">
				<div class="form__column">
					<label for="">Дата заселення:</label>
					<input placeholder="день\місяць\рік" type="text" />
				</div>
				<div class="form__column">
					<label for="">Дата виїзду:</label>
					<input placeholder="день\місяць\рік" type="text" />
				</div>
			</div>

			<button type="submit"><span>Забронювати</span></button>
		</form>
	</div>
</section>
