<section class="options sec1">
	<h4>Варіанти розміщення</h4>
	<div class="options__top-bar top-bar">
		<div class="top-bar__container">
			<div class="top-bar__left-column">
				<p class="tabl-title">Тип номеру</p>
			</div>
			<div class="top-bar__right-column">
				<p class="tabl-title">Вартість за 1 місце</p>
				<div class="top-bar__row">
					<p class="top-bar__cl-1">Доба</p>
					<p class="top-bar__cl-2">Тиждень</p>
					<p class="top-bar__cl-3">4 Тижні</p>
				</div>
			</div>
		</div>
	</div>
	<div class="options__container">
		<ul class="options__list">
			<li>
				<a href="/" class="options__item options-item">
					<div class="options-item__icons">
						<img src="./img/user1.svg" alt="" />
						<button>
							<span>Забронювати</span>
						</button>
					</div>
					<div class="options-item__info">
						<p>430</p>
						<p>1500</p>
						<p>4500</p>
					</div>
					<button>
						<span>Забронювати</span>
					</button>
				</a>
			</li>
			<li>
				<a href="/" class="options__item options-item">
					<div class="options-item__icons">
						<img src="./img/user2.svg" alt="" />
						<button>
							<span>Забронювати</span>
						</button>
					</div>
					<div class="options-item__info">
						<p>390</p>
						<p>1350</p>
						<p>4000</p>
					</div>
					<button>
						<span>Забронювати</span>
					</button>
				</a>
			</li>
			<li>
				<a href="/" class="options__item options-item">
					<div class="options-item__icons">
						<img src="./img/user3.svg" alt="" />
						<button>
							<span>Забронювати</span>
						</button>
					</div>
					<div class="options-item__info">
						<p>350</p>
						<p>1200</p>
						<p>3500</p>
					</div>
					<button>
						<span>Забронювати</span>
					</button>
				</a>
			</li>
			<li>
				<a href="/" class="options__item options-item">
					<div class="options-item__icons">
						<img src="./img/user4.svg" alt="" />
						<button>
							<span>Забронювати</span>
						</button>
					</div>
					<div class="options-item__info">
						<p>290</p>
						<p>1000</p>
						<p>3000</p>
					</div>
					<button>
						<span>Забронювати</span>
					</button>
				</a>
			</li>
		</ul>
	</div>
</section>
