<section class="reviews sec3">
	<div class="reviews__container">
		<h2>Відгуки</h2>

		<ul class="reviews__list">
			<li class="reviews__item">
				<div class="reviews__img"></div>
				<div class="reviews__row">
					<span>Анна</span>
					<span>Житомир</span>
				</div>
				<p>
					Часто буваю в Києві і живу як правило в хостелах. Що я вам скажу! Іноді потрапляв в “* опу” – пишуть одне, реальність інша. Але,
					народ, не цього разу. Фотки реальні, житло класне. Це не готель, якщо що, але дуже добротний, чистий і комфортний хостел дуже
					гідного рівня! Відчувається, що люди вкласти не пожлобілся. А ще місце шикарне, 5 хв і я біля метро + в будь-який час можу купити
					продукти.
				</p>
			</li>

			<li class="reviews__item">
				<div class="reviews__img"></div>
				<div class="reviews__row">
					<span>Анна</span>
					<span>Одеса</span>
				</div>
				<p>
					Не люблю коли пропонують вибирати між людськими умовами і економією грошей. Будь-яка нормальна людина хоче заощадити і при цьому
					відчувати себе Людиною. Мегаполіс допоміг уникнути цього вибору і розчарування. Я за своє житло заплатила набагато менше, ніж за
					квартиру в Києві або готель. При цьому отримала зручне ліжко, чиста білизна (дуже важливо), прибране приміщення, чисту кухню і
					спокій!
				</p>
			</li>

			<li class="reviews__item">
				<div class="reviews__img"></div>
				<div class="reviews__row">
					<span>Богдан</span>
					<span>Ірпінь</span>
				</div>
				<p>
					Я не знайшов Мінусів у хостелі і персоналі. Жив у багатьох хостелах України. Якість цього дуже дойстойное За європейськими
					стандартами) Всім рекомендую приїхати сюди і оцінити. На групи дають знижку, якщо домовитися
				</p>
			</li>
		</ul>
	</div>
</section>
